<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Update</title>
</head>
<body>
    
  <main>
    <form action="/list/<%= list._id %>?_method=PUT" method="POST">

        <div class="textBox">
        <input type="text" id="newList" name="name" value="<%= list.name %>"> 
        <span>Name</span>
      </div>
      
      <br>
      
      <div class="textBox">
        <input type="text" id="newUrl" name="url" value="<%=list.url %>"/>
        <span>URL</span>
        </div>
      
        <br>

        <div class="textBox">
        <input type="text" id="newCreator" name="creator" value="<%= list.creator %>"/>
        <span>Creator</span>
        </div>
      
      <br>
      
      

  <div class="textBox">
    <textarea id="newNote" name="note"  rows="4" cols="41"><%= list.note %></textarea>
  </div>

      
      <br><br>
      
      <div class="editButton">
        <input type="submit" value="Update" /><br><br>

        <a href="/list"> <h3> Return</h3></a>
      </div>
      </form>
    </main>

</body>
</html>