<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    

    <h1><%= list.name %></h1>

    <h2>URL: <a href="<%= list.url %>" target="_blank" rel="noopener noreferrer" ">  <%= list.url %> </a> </h2>
    
    <h3> Creator: <%=list.creator %></h3>
    
    <h3>Notes: <%=list.note %></h3>


    <form action="/list/<%= list._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
    
    <a href="/list"> <h4>Back</h4></a>



    
    <a href=" https://youtu.be/dQw4w9WgXcQ"><iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>

</body>
</html>