<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>

        <div class="showPage">
            <h1>
                <%= list.name %>
            </h1><br>

            <div id="url-show">
                <h2>URL: <a href="<%= list.url %>" target="_blank" rel="noopener noreferrer" ">  <%= list.url %> </a> </h2> <br>
    </div>

    <h3> Creator: <%=list.creator %></h3> <br>
    
    <textarea class=" show-textarea" rows="10" cols="60" readonly>
                        <%=list.note %> </textarea> <br>

                            <div class="show-button">

                                <a href="/list/<%= list._id %>/edit"><button class="edit-delete-add"> Edit</button></a>

                                <form action="/list/<%= list._id %>?_method=DELETE" method="POST">
                                    <input type="submit" value="Delete" class="edit-delete-add">
                                </form>
                            </div>
                            <br>

                            <a href="/list">
                                <h3>Back</h3>
                            </a>

            </div>

    </body>

</html>